<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Matérias</ion-card-subtitle>
        <ion-card-title>SISTEMAS DISTRIBUIDOS</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Siga aqui suas atividades das matérias e veja o que falta para seus pontos fecharem no semestre.
      </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nossas turmas</ion-card-subtitle>
      <ion-card-title>AULAS PRESENCIAIS</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.freepik.com/fotos-gratis/homem-tem-uma-pergunta-mao-levantada-grupo-de-pessoas-em-conferencia-de-negocios-em-sala-de-aula-moderna-durante-o-dia_146671-16286.jpg" alt="">
    </ion-card-content>
</ion-card>

</ion-content>
